### Student Management System

In [3]:
import sqlite3

In [4]:
#created a db. If already a db with name exists in this file, then it will connect with that db. Otherwise it creates a new DB.

com = sqlite3.connect("sms.db")

In [6]:
cur = com.cursor()

In [8]:
cur.execute('''
                CREATE TABLE STUDENT(
                SID INT,
                SNAME CHAR(40),
                EMAIL VARCHAR(60),
                CITY CHAR(40)
                    )''')

com.commit()

In [9]:
cur.execute('''
                CREATE TABLE COURSE(
                CID INT,
                COURSENAME CHAR(40),
                SID INT,
                PRICE FLOAT
                    )''')

com.commit()

In [14]:


cur.execute('''
                CREATE TABLE TRANSac(
                TID INT,
                SID INT,
                CID INT,
                METHOD VARCHAR(40)
                    )''')
com.commit()

In [16]:
#cur.execute("DROP TABLE TRANS")                # FOR dropping any table that is created.